<mat-form-field appearance="outline" class="w-full mb-4">
    <mat-label>{{ label }}</mat-label>
    <input 
        matInput
        [formControl]="control"
        [type]="type"
        [step]="step"
        [placeholder]="label"
    />
    @if (control.hasError('required')) {
        <mat-error>{{ label }} is required</mat-error>
    }
    @if (control.hasError('email')) {
        <mat-error>Email is invalid</mat-error>
    }
    @if (control.hasError('emailExists')) {
        <mat-error>Email address is taken</mat-error>
    }    
    @if (control.hasError('minlength')) {
        <mat-error> {{ label }} must be at least {{ control.errors?.['minlength'].requiredLength }} characters</mat-error>
    }
    @if (control.hasError('maxlength')) {
        <mat-error>{{ label }} must be at most {{ control.errors?.['maxlength'].requiredLength }} characters</mat-error>
    }
    @if (control.hasError('pattern')) {
        <mat-error>Password must contain 1 Uppercase, 1 Lowercase, 1 number and 1 non alphanumeric</mat-error>
    }
    @if (control.hasError('notMatching')) {
        <mat-error>Passwords do not match</mat-error>
    }
</mat-form-field>