.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: royalblue;
    color: white;
    text-align: center;
    top: -15px;
    right: -12px;
}

.btn {
    transition: background 0.3s;
}

.btn:hover {
    cursor: pointer;
}

.btn-login {
    margin-right: 15px;
    margin-left: 30px;
}

