<div class="flex flex-col gap-1  my-3">

    <div class="grid grid-cols-3 items-center mt-4">
        <div class="text-2xl font-semibold">
            Admin catalog
        </div>

        <form #searchForm="ngForm" (ngSubmit)="onSearchChange()"
            class="relative flex items-center w-full max-w-md mx-auto">
            <input type="search" class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg"
                placeholder="Search" name="search" [(ngModel)]="productParams.search" />
            <button mat-icon-button type="submit" class="absolute inset-y-0 right-8 top-2 flex items-center pl-3">
                <mat-icon>search</mat-icon>
            </button>
        </form>

        <div class="flex gap-3 justify-end">
            <button class="match-input-height" mat-stroked-button (click)="openFiltersDialog()">
                <mat-icon>filter_list</mat-icon>
                Filters
            </button>
            <button class="match-input-height" mat-stroked-button [matMenuTriggerFor]="sortMenu">
                <mat-icon>swap_vert</mat-icon>
                Sort
            </button>
            <button class="match-input-height" mat-flat-button (click)="openCreateDialog()">
                Create new
            </button>
        </div>
    </div>
</div>

<mat-menu #sortMenu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
        @for (sort of sortOptions; track $index) {
        <mat-list-option [value]="sort.value" [selected]="productParams.sort === sort.value">
            {{ sort.name }}
        </mat-list-option>
        }
    </mat-selection-list>
</mat-menu>

<app-custom-table [columns]="columns" [dataSource]="products" [actions]="actions" [totalItems]="totalItems"
    [pageSize]="productParams.pageSize" (pageChange)="onPageChange($event)" />