<div class="container mt-5">
    @if (cartService.cart()?.items?.length! > 0) {
        <p>There are no items in your cart</p>    
    }
    @else {
        <div class="container">
            <div class="row">
                <app-cart-summary
                    (addItem)="incrementQuantity($event)"
                    (removeItem)="removeItem($event)">
                </app-cart-summary>
            </div>

            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-totals></app-order-totals>
                    <div class="d-grid mb-3">
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>

        </div>
    }
</div>