<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Shipping address</h4>
        <button class="btn btn-outline-success mb-3" 
            (click)="saveUserAddress()"
            [disabled]="!checkoutForm.get('addressForm')?.valid || 
                !checkoutForm.get('addressForm')?.dirty"
        >
            Save as default address
        </button>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-text-input [label]="'Address Line1'" formControlName="line1"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Address Line2'" formControlName="line2"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'City'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'State'" formControlName="state"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Postal code'" formControlName="postalCode"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Country'" formControlName="country"></app-text-input>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket/basketService.basketSource$.id">
        <i class="fa fa-angle-left"></i> Back to Basket
    </button>
    <button [disabled]="checkoutForm?.get('addressForm')?.invalid" class="btn btn-primary" cdkStepperNext>
        Go to Delivery <i class="fa fa-angle-right"></i>
    </button>
</div>