@if (products) {
    <div class="container mt-5">
        <div class="row">

            <section class="col-3">
                <h5 class="text-warning ms-3 mt-4 mb-4">Sort</h5>
                <select class="form-select mb-3" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOptions" [value]="sort.value
                ">
                        {{ sort.name }}
                    </option>
                </select>
                <h5 class="text-warning ms-3 mt-4 mb-4">Categories</h5>

                <ul class="list-group my-3">
                    <li class="list-group-item" *ngFor="let category of categories | keyvalue"
                        [class.active]="category.value === this.shopParams.categorySelected" [value]="category.value"
                        (click)="onCategorySelected(category.value)
                    ">
                        {{ category.key }}
                    </li>
                </ul>
            </section>

            <section class="col-9">
                <div class="d-flex justify-content-between align-items-center pb-2">
                    <mat-paginator 
                        class="bg-white"
                        (page)="handlePageEvent($event)"
                        [length]="products.rowCount"
                        [pageSize]="products.pageSize"
                        [showFirstLastButtons]="true"
                        [pageSizeOptions]="pageSizeOptions"
                        [pageIndex]="shopParams.pageNumber - 1"
                        aria-label="Select page"
                    >
                    </mat-paginator>

                    <div class="d-flex flex-row align-items-center flex-wrap mt-2" *ngIf="products">
                        <input (keyup.enter)="onSearch()" class="form-control me-2" #search style="width: 300px"
                            placeholder="Search" type="text">
                        <button (click)="onSearch()" class="btn btn-outline-primary my-2 mx-2">Search</button>
                        <button (click)="onReset()" class="btn btn-outline-success my-2">Reset</button>
                    </div>
                </div>

                <div class="grid grid-cols-5 gap-4 py-4">
                    @for (product of products.results; track product.id) {
                    <app-product-item [product]="product"></app-product-item>
                    }
                </div>
            </section>
        </div>
    </div>
}