<mat-card class="max-w-lg mx-auto mt-32 p-8 bg-white">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-primary">Login</h1>
        </div>
        <app-text-input [formControl]="loginForm.controls['email']" [label]="'Email Address'" />
        <app-text-input [formControl]="loginForm.controls['password']" [label]="'Password'" [type]="'password'" />
        
        @if (validationErrors) {
            <div class="mb-3 p-4 bg-red-100 text-red-600">
                <ul class="list-disc px-3">
                    @for (error of validationErrors; track $index) {
                        <li>{{ error }}</li>
                    }
                </ul>
            </div>
        }

        <button  [disabled]="loginForm.invalid" mat-flat-button type="submit" class="w-full py-2">Sign in</button>
    </form>
</mat-card>