<div class="header bg-light px-4 py-3 text-uppercase fw-bold">
    Order Summary
</div>
<div class="p-4">
    <p class="fst-italic mb-4">Shipping costs will be added depending on choices made during checkout</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order Subtotal</strong>
            <strong>{{ totals.subtotal | currency }}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Tax</strong>
            <strong>{{ totals.tax | currency }}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping and handling</strong>
            <strong>{{ totals.shipping | currency }}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{ totals.total | currency }}</strong>
        </li>
    </ul>
</div>